<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Handover</title>

    {% load static %}
    <link rel="stylesheet" href="{%static 'index_html.css'%}">
    
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="{%url 'home-page'%}">Home</a>
            <a href="{%url 'handover-page'%}">Handovers</a>
            <a href="{%url 'completed-handovers'%}">Completed handover</a>
            <a href="{%url 'notice-page'%}">Add Notice</a>
            <a href="{%url 'notice-display-page'%}">Notices</a>
            <a href="{%url 'Logout'%}">Log-out</a>
        </nav>
    </div>

    <h1> Welcome to OR mini-store shift transition platform.</h1>

 <div class="container">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    
    </form>
 </div>
 <div class="content">
    <div class="image-container">
        <img src="{% static 'images/T.jpg' %}" alt="Description of the image">
    </div>
    <h4>Welcome to OR Mini-Store, we understand the importance of efficient shift transitions in maintaining smooth operations and delivering excellent service to our customers. This platform is to streamline the handover process and ensure effective communication between team members. Make every shift transition a success</h4>
 </div>
</body>

</html>