<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Reset Sent</title>

    {% load static %}
    <link rel="stylesheet" href="{%static 'reset_password_complete.css'%}">

</head>
<body>
    <div class="container">
        <h3> Password reset complete</h3>
        <p>Your password has been set.Kindly proceed and log in now</p>
        <button type="button" class="button"><a href="{% url 'Login' %}">login</a></button>
    
    </div>
</body>
</html>